<div class="container">
  <h3>Our Features</h3>
  <div class="features">
    <div class="feature">
      <div class="icon"><mat-icon>face</mat-icon></div>
      <div class="text">Patient Management<br><br><div>Lorem ipsum dolor adipiscing elit. sed elementum nisi  tincidunt.</div><div>Lorem ipsum dolor adipiscing elit. sed elementum nisi  tincidunt.</div></div>
    </div>
    <div class="feature">
      <div class="icon"><mat-icon>group</mat-icon></div>
      <div class="text">Staff Management<br><br><div>Lorem ipsum dolor adipiscing elit. sed elementum nisi  tincidunt.</div></div>
    </div>
    <div class="feature">
      <div class="icon"><mat-icon>domain</mat-icon></div>
      <div class="text">Clinic Management<br><br><div>Lorem ipsum dolor adipiscing elit. sed elementum nisi  tincidunt.</div><div>Lorem ipsum dolor adipiscing elit. sed elementum nisi  tincidunt.</div></div>
    </div>
    <div class="feature">
      <div class="icon"><mat-icon>location_city</mat-icon></div>
      <div class="text">Hospital Management<br><br><div>Lorem ipsum dolor adipiscing elit. sed elementum nisi  tincidunt.</div></div>
    </div>
  </div>
</div>


