<div class="container">
  <div class="hero">
    <div class="hero-title">
      <div>Lorem ipsum <a><b>DOLOR</b></a>  </div>
      <div>adipiscing elit.</div><div>sed <i>elementum</i> nisi  tincidunt.</div>
    </div>
    <div class="hero-image">

        <img width="200px" height="200px" src="assets/Images/undraw_doctors_p6aq (1).svg">

    </div>

  </div>
  <div class="trust">
    <h3>Trusted By</h3>
    <div class="brands">
      <img width="50px" height="50px" src="assets/Images/flutter-logo.svg">
      <img width="125px" height="50px" src="assets/Images/fresenius-medical-care-1.svg">
      <img width="100px" height="50px" src="assets/Images/korail-logo.svg">
      <img width="50px" height="50px" src="assets/Images/notion-logo-1.svg">
      <img width="50px" height="50px" src="assets/Images/starbucks.svg">
    </div>


  </div>

</div>
<app-features></app-features>
<app-reviews></app-reviews>
<app-footer></app-footer>
