<div class="container">
  <h3>Reviews</h3>
  <div class="reviews">
    <div class="review one">
      <div class="image">
        <img src="assets/Images/images.jpg">
      </div>
      <div class="text">
       <div>Lorem ipsum dolor adipiscing elit. sed</div>  elementum nisi  tincidunt.
       <div>Lorem ipsum dolor</div>
       <div>Lorem ipsum dolor adipiscing elit. sed</div>  elementum nisi  tincidunt.
       <div>Lorem ipsum dolor</div>

      </div>
    </div>

    <div class="review two">
      <div class="image">
        <img src="assets/Images/images.jpg">
      </div>
      <div class="text">
        <div>Lorem ipsum dolor adipiscing elit. sed</div>  elementum nisi  tincidunt.
       <div>Lorem ipsum dolor</div>
       <div>Lorem ipsum dolor adipiscing elit. sed</div>  elementum nisi  tincidunt.
       <div>Lorem ipsum dolor</div>
      </div>
    </div>
    <div class="review three">
      <div class="image">
        <img src="assets/Images/images.jpg">
      </div>
      <div class="text">
       <div>Lorem ipsum dolor adipiscing elit. sed</div>  elementum nisi  tincidunt.
       <div>Lorem ipsum dolor</div>
       <div>Lorem ipsum dolor adipiscing elit. sed</div>  elementum nisi  tincidunt.
       <div>Lorem ipsum dolor</div>

      </div>
    </div>
    <div class="review four">
      <div class="image">
        <img src="assets/Images/images.jpg">
      </div>
      <div class="text">
       <div>Lorem ipsum dolor adipiscing elit. sed</div>  elementum nisi  tincidunt.
       <div>Lorem ipsum dolor</div>
       <div>Lorem ipsum dolor adipiscing elit. sed</div>  elementum nisi  tincidunt.
       <div>Lorem ipsum dolor</div>

      </div>
    </div>
  </div>
</div>
